/*
    all.less - Aggregate all stylesheets (esp-angular-mvc)
 */

/*
    app.less - Default ESP angular-mvc style sheet. (esp-angular-mvc)
 */

body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #222233;
  /*background-color: #a7b5ce;*/
  background:url(../img/ca6ea9664ffdd1d83aba4509a70abc6f.jpg) top center no-repeat; background-size:cover;
}

* {
	padding: 0;
  	margin: 0;
}

a {
	text-decoration:none;
}

.container {
	width: 90%;	
	min-width: 880px;
	margin-right: auto;
	margin-left: auto;
}

.container:before, .container:after {
	display: table;
	content: "";
	line-height: 0;
	clear: both;
}

.container:after {
	clear: both;
}

.clearfix:before, .clearfix:after {
	display: table;
	content: "";
	clear: both;
	line-height: 0;
}

.clearfix:after {
	clear: both;
}

.l-sidebar {
	display: block;
	position: relative;
	width: 20%;	
	float: left;
	/*background: url("left.gif") no-repeat;*/
}

.l-deviceinfo {
	margin-top: 3px;
}

.logininfo {
	float:right;
	
}

.clear:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
} 

.sub-nav {
	width: 100%;
}

nav{
	width:90%;
	height: 70px;
	margin-left: auto;
    margin-right: auto;	
}

nav label {
	height: 48px;
    font-size: 3.5em;
}

nav li{
	list-style:none;
	float:left;
	border-right: 1px solid #2E3235;
	position: relative;
	/*background: -moz-linear-gradient(top, #fff, #555D5F 2% ,#555D5F 50%,#3E4245 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), color-stop(2%, #555D5F), color-stop(50%, #555D5F),to(#3E4245));*/
	background:#555D5F;
}
nav li:hover{
	/*background: -moz-linear-gradient(top, #fff, #3E4245 2% ,#555D5F 80%,#555D5F 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), color-stop(2%, #3E4245), color-stop(80%, #3E4245),to(#555D5F));*/
	background:#3E4245;
	-moz-transition: background 1s ease-out;
	-webkit-transition: background 1s ease-out;
}
nav li a{
	display:block;
	height:40px;
	line-height:40px;
	padding:0 30px;
	font-size:12px;
	color:#fff;
	text-shadow: 0px -1px 0px #000;
	text-decoration:none;
	white-space:nowrap;
	border-left: 1px solid #999E9F;
	border-top: 1px solid #999E9F;
	-moz-border-top-left-radius: 2px;
	-webkit-border-top-left-radius: 2px;
	z-index:100;
}
nav li > a{
	position:relative;
}
nav li.first a{
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	}
nav li.last{
	border-right: 0 none;
}
nav dl{
	position:absolute;
	display:block;
	top:40px;
	left: -25px;
	width:165px;
	background:#222222;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow:1px 1px 3px #292929;
	-moz-box-shadow:1px 1px 3px #292929;
	z-index:10;
}
nav li:hover dl{
	top:50px;
	display:block;
	width:145px;
	padding:10px;
}
nav dl a{
	background:transparent;
	border:0 none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-transition: background 0.5s ease-out;
	-webkit-transition: background 0.5s ease-out;
	z-index:50;
}
dl a:hover{
	color:#FFF;
	background:#999E9F;
	-moz-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
	-webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
nav dd{
	margin-top:-40px;
	opacity:0;
	width:145px;
	-webkit-transition-property:all;
	/*-webkit-transition-timing-function: cubic-bezier(5,0,5,0);*/
	-moz-transition-property: all;
	/*-moz-transition-timing-function: cubic-bezier(5,0,5,0);*/
	/*-webkit-transition-delay:5s;
	-moz-transition-delay:5s;*/
	}
	li:hover dd{
	margin-top:0;
	opacity:1;
}
nav li dd:nth-child(1){
	-webkit-transition-duration: 0.1s;
	-moz-transition-duration: 0.1s;
}
nav li dd:nth-child(2){
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
}
nav li dd:nth-child(3){
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
}
nav li dd:nth-child(4){
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
}
nav dt{
	display:none;
	margin-top:-25px;
	padding-top:15px;
	height:10px;
}
nav i:hover dt{
	display:block;
}
nav .Darrow{
	float:right;
	margin:18px 10px 0 0;
	border-width:5px;
	border-color:#FFF transparent transparent transparent;
	border-style:solid;
	width:0;
	height:0;
	line-height:0;
	overflow:hidden;
	cursor:pointer;
	text-shadow: 0px -1px 0px #000;
	-webkit-box-shadow:0px -1px 0px #000;
	-moz-box-shadow:0px -1px 0px #000;
}
nav .arrow{
	margin:0 auto;
	margin-top:-5px;
	display:block;
	width:10px;
	height:10px;
	background:#222222;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
} 

.main-content {
	display: block;
	position: relative;	
	width: 79%;
	min-height: 400px;
	float: right;
	border: 2px solid #ffffff;
	backgound: #ffffff;
}

.d-content {
	padding: 6px;
}

.s-content {
	min-height: 500px;
}

.l-sidebar .ui-tabs .ui-tabs-panel {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-width: 0;
    display: block;
    padding: 0;
}

li .ui-icon-close {
    cursor: pointer;
    float: left;
    margin: 0.6em 0.2em 0 0;
}

.s-content .sl{
	float: left;
	width: 50%;
}

.s-content .sr{
	float: left;
	width: 50%;
}

.sub-alarm {
	margin-top: 3px;
	padding: 5px;
	border: 1px solid #aaa;
	border-radius: 4px;
}

ul,ol{
	margin:0px;
	padding:0px;
	list-style-type:none;
}

.ny_zb{
	width:100%;	
	min-height: 400px;
	overflow:hidden;
	border: 2px solid #ffffff;
	margin:0px;
}
.ny_zblb1{
	padding:10px 10px 20px 0px;
}

.ny_zblb1 li{
	line-height:33px;
	font-size:14px;
	color:#333;
	float:left;
	width:100%;
}
.ny_zblb1 li a{
	display:block;
	padding-left:30px;
	text-decoration:none;
	color:#333;
}
.ny_zblb1 li.subs .flag{
	background:url(04.gif) no-repeat right;
}
.ny_zblb1 li a.cur{
	color:#6fb600;
	font-weight:bold;
	text-decoration:none;
}
.ny_zblb1 li.subs a.cur{
	background:url(04_h.gif) no-repeat right;
}
.ny_zblb1 li ul{
	display:none;
	color:#666;
	padding:5px 0 5px 30px;
}
.ny_zblb1 li ul li{
	float:none;
	background-image:none;
	height:26px;
	line-height:26px;
	margin-top:0px;
	font-size:12px;
}
.ny_zblb1 li ul li a{
	padding-left:30px;
	display:block;
}
.ny_zblb1 li ul a:hover{
	color:#6fb600;
}

.footer {
	text-align: center;
	margin-top: 20px;
}
 .footer p {
	margin-top: 15px;
 }
 
 .channel_input {
	width: 48%;
	float:left;
	border: 1px solid #dddddd;
 }
 
 .program{
	width: 48%;
	float:left;
	margin: 0px 10px;
	border: 1px solid #dddddd;
 }
 
 .tbl_baseinfo {
	padding: 45px 25px;
 }
 
  .tbl_baseinfo  tbody tr th{
	text-align: left;	
	width: 50%;
	line-height: 1.9;
 }
 
 .tbl_baseinfo  tbody tr th label{
	margin-left: 80px;	
 }
 
  .tbl_baseinfo .tbl_th {
	text-align: left;
	margin-left: 2px;
  }
  
  .base_hr {
	height:1px;
	border:none;
	border-top:2px dashed #dddddd;
  }
  
  .tbn_div  button{
	margin: 15px 30px 0px 30px;
	
  }
  
  .ui-menu {
	  width: 210px;
	  font-size: 100%;
	  z-index: 3;
  }
  
  #dialog-form {
	display:none;
	width: 602px;
	line-height: 1.9;
  }
  
  .tbl_editprg {
	margin: 10px 3px;
  }  
  
  #dialog-items {
	display:none;
	padding: 10px;
	line-height: 1.9;
  }

  .dialog-nit {
      display:none;
      padding: 10px;
      line-height: 1.9;
  }

fieldset input {
	margin-left: 30px;
  }
  
  .pat_auto {
	margin-left: 2px;
  }
  
  .src_btn {
	float: left;
	margin: 10px 0px 10px 300px;
  }
  
  .src_btn button {
	margin-left: 10px;
  }
  
  .src_content {
	padding: 10px;
	line-height: 1.9;
  }
  
  .src_content  table{
	margin: 20px 40px;
  }
  
  .nit_edit {
	line-height: 1.9;
  }
  
  .nit_edit input {
	margin-left: 30px;
  }
  
  .nit_edit label {
	margin-left: 30px;
  }
  
  .tbl_struct {
	float:left;
	width: 48%;
	border: 1px solid #dddddd;
  }
  
  #out_table {
	float:left;
	margin-left: 10px;
	width: 49%;
  }
  
  #out_table  table{
	border: 1px solid #dddddd;	
	width: 100%;
  }
  
  #dialog-descriptor {
	display:none;
	padding: 10px;
	line-height: 1.9;
  }
  
  .tbl_descriptor {
	border: 1px solid #dddddd;	
	float:left;
	margin-left: 10px;
	width: 48%;
  }
  
  .desc_content {
	float:left;
	border: 1px solid #dddddd;	
	margin-left: 5px;
	padding: 10px;
	width: 46%;
  }

  .desc_content  input{
	width: 40px;
  }
  
  .desc_content  h5{
	float: left;
  }
  
  .desc_bytes {
	float: left;
	margin-left: 30px;
  }
  
  .network_set {
	margin-left: 30px;
	margin-bottom:10px;
  }
  
  .newip {
	margin-right: 30px;
  }
  
  /** fonts used for the icons **/ 
@font-face {
    font-family: 'FontomasCustomRegular';
    src: url('fonts/fontomas-webfont.eot');
    src: url('fonts/fontomas-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fontomas-webfont.woff') format('woff'),
         url('fonts/fontomas-webfont.ttf') format('truetype'),
         url('fonts/fontomas-webfont.svg#FontomasCustomRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
  
  #login {
	position: absolute;
	top: 0px;
	width: 88%;	
	padding: 18px 6% 30px 6%;
	margin: 0 0 35px 0;
	background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189,0.8);
	-webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	   -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	        box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	-webkit-box-shadow: 5px;
	-moz-border-radius: 5px;
		 border-radius: 5px;
  }
  
  #wrapper{
	width: 60%;
	right: 0px;
	min-height: 500px;	
	margin: 50px auto 10px auto;	
	width: 500px;
	position: relative;	
}
/**** Styling the form elements **/

/**** general text styling ****/
#wrapper a{
	color: rgb(95, 155, 198);
	text-decoration: underline;
}

#wrapper h1{
	font-size: 48px;
	color: rgb(6, 106, 117);
	padding: 2px 0 10px 0;
	font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
}
/** For the moment only webkit supports the background-clip:text; */
#wrapper h1{
    background: -webkit-repeating-linear-gradient(-45deg, 
	rgb(18, 83, 93) , 
	rgb(18, 83, 93) 20px, 
	rgb(64, 111, 118) 20px, 
	rgb(64, 111, 118) 40px, 
	rgb(18, 83, 93) 40px);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
#wrapper h1:after{
	content: ' ';
	display: block;
	width: 100%;
	height: 2px;
	margin-top: 10px;
	background: -moz-linear-gradient(left, rgba(147,184,189,0) 0%, rgba(147,184,189,0.8) 20%, rgba(147,184,189,1) 53%, rgba(147,184,189,0.8) 79%, rgba(147,184,189,0) 100%); 
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(147,184,189,0)), color-stop(20%,rgba(147,184,189,0.8)), color-stop(53%,rgba(147,184,189,1)), color-stop(79%,rgba(147,184,189,0.8)), color-stop(100%,rgba(147,184,189,0))); 
	background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
	background: -o-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
	background: -ms-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
	background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
}

#wrapper p{
	margin-bottom:15px;
}
#wrapper p:first-child{
	margin: 0px;
}
#wrapper label{
	color: rgb(64, 92, 96);
	position: relative;
}

/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder  { 
	color: rgb(190, 188, 188); 
	font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{ 
	color: rgb(190, 188, 188);
	font-style: italic;
} 
input {
  outline: none;
}

/* all the input except submit and checkbox */
#wrapper input:not([type="checkbox"]){
	width: 92%;
	margin-top: 4px;
	padding: 10px 5px 10px 32px;	
	border: 1px solid rgb(178, 178, 178);
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	  -moz-box-sizing : content-box;
	       box-sizing : content-box;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
}
#wrapper input:not([type="checkbox"]):active,
#wrapper input:not([type="checkbox"]):focus{
	border: 1px solid rgba(91, 90, 90, 0.7);
	background: rgba(238, 236, 240, 0.2);	
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
} 

/** the magic icon trick ! **/
[data-icon]:after {
    content: attr(data-icon);
    font-family: 'FontomasCustomRegular';
    color: rgb(106, 159, 171);
    position: absolute;
    left: 10px;
    top: 35px;
	width: 30px;
}

/*styling both submit buttons */
#wrapper p.button input{
	width: 30%;
	cursor: pointer;	
	background: rgb(61, 157, 179);
	padding: 8px 5px;
	font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
	color: #fff;
	font-size: 24px;	
	border: 1px solid rgb(28, 108, 122);	
	margin-bottom: 10px;	
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;	
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	   -moz-box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	        box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
}
#wrapper p.button input:hover{
	background: rgb(74, 179, 198);
}
#wrapper p.button input:active,
#wrapper p.button input:focus{
	background: rgb(40, 137, 154);
	position: relative;
	top: 1px;
	border: 1px solid rgb(12, 76, 87);	
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	   -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	        box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}
p.login.button,
p.signin.button{
	text-align: right;
	margin: 5px 0;
}


/* styling the checkbox "keep me logged in"*/
.keeplogin{
	margin-top: -5px;
}
.keeplogin input,
.keeplogin label{
	display: inline-block;
	font-size: 12px;	
	font-style: italic;
}
.keeplogin input#loginkeeping{
	margin-right: 5px;
}
.keeplogin label{
	width: 80%;
}

* {
    box-sizing: border-box;
}

.register_form {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
    padding-bottom: 3rem !important;
}

.register_formrow {
    margin: 20px auto 0 auto;
    display: block;
    text-align: left;
}

.register_hr {
    margin-top: 20px;
    width: 100%;
}

.register_item {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    padding-left: 2rem;
}

.rlb {
    width: 33.33333% !important;
}

.rip {
    width: 66.66667% !important;
}

.rab {
    width: 40% !important;
}

.rnp {
    width: 60% !important;
}

.register_item label{
    margin-top: 8px;
    font-size: 18px;
}

.register_item input{
    font-size: 1.2rem;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    font: inherit;
    overflow: visible;
    width: 100%;
    margin: 0 0;
    padding: 0.9rem;
    border: 0.1rem solid #BABBC1;
    border-radius: 0.2rem;
    background-color: #FFFFFF;
}

.register_item input:hover{
    border: 0.1rem solid black;
}

.register_item input:focus{
    border: 0.1rem solid #00bcd4;
}

#progressbar {
    margin-top: 20px;
}

.progress-label {
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

.ui-dialog-titlebar-close {
    display: none;
}

.inputerror {
    border: 0.2rem solid red!important;
}

span.fancytree-node.userprg > span.fancytree-title {
    color: red;
    font-family: "Audiowide";
}

.stsimg {
    width: 32px;
    height: 32px;
    margin-left: 10px;
}

.outsts {
    margin: 5px 0px;
    height: 4em;
    line-height: 4em;
}

.monitortable {
    margin: 0px!important;
}

.tbl_right {
    text-align: right;
}

.tbl_center {
    text-align: center;
}

.nit_section label {
    display: block;
    float: left;
    width: 100px;
    margin-left: 20px;
}

.nit_section input {
    float: left;
    margin-right: 20px;
}

.tbl_nit {
    padding: 20px;
}
